// Overrides for mediaelementplayer.less
// --------------------------------------------------
.mejs__container .mejs__controls .mejs__time {
  padding-right: 0;
  padding-left: 0;
}

// Fullscreen sizing fix
// --------------------------------------------------
.mejs__container-fullscreen .mejs__mediaelement,
.mejs__container-fullscreen .mejs__mediaelement > div,
.mejs__container-fullscreen video {
  width: 100% !important;
  height: 100% !important;
  background-color: @black;
}

// Bug fix to contain video when in portrait mode
// --------------------------------------------------
.orientation-portrait .mejs__container-fullscreen video {
  object-fit: contain;
}

// Button icon fixes
// --------------------------------------------------
.mejs__button.mejs__jump-forward-button > button {
  background-size: contain;
}

// Time slider blocker for validation errors
// --------------------------------------------------
.mejs__time-slider-blocker {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: transparent;
  pointer-events: auto;
  z-index: 9999;
  cursor: not-allowed;
  transition: background-color 0.15s ease;
  
  &.mejs__time-slider-blocker-error {
    background-color: fade(@validation-error, 30%);
  }
}
