<div class="media-component-transcript-inner">
	<span class="media-component-transcript-title">Transcript</span><a href="#" class="media-component-transcript-close">Close</a>
	<div>{{{transcript}}}</div>
</div>